<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>799466011826-s935jmihjvs5rd23fe3n1t3aph342bfb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.799466011826-s935jmihjvs5rd23fe3n1t3aph342bfb</string>
	<key>API_KEY</key>
	<string>AIzaSyCKR5wEC90gvhRgxuCHHtKENcWZd1EHXnw</string>
	<key>GCM_SENDER_ID</key>
	<string>799466011826</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.smartBus</string>
	<key>PROJECT_ID</key>
	<string>smart-bus-26302</string>
	<key>STORAGE_BUCKET</key>
	<string>smart-bus-26302.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:799466011826:ios:29b546f81bc365b6aaddab</string>
</dict>
</plist>